<ion-view view-title="{{'WITHDRAW_TO' | translate}}">
    <div ng-controller="WithdrawToCtrl">
        <form name="WithdrawToForm" method="post" novalidate>
            <ion-content class="container-body">
                <div class="list">
                    <a class="item item-icon-right" ng-click="submit('bank_account')">
                        <h3>Bank Account</h3>
                        <i class="icon ion-ios-arrow-right"></i>
                    </a>
                </div>
            </ion-content>
        </form>
    </div>
</ion-view>